/* .App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
} */

.light {
  --color-primary: rgb(237, 153, 27);
  --color-secondary: rgb(207, 216, 220);
  --color-three: rgb(236, 239, 241);
  --color-star: gold;
  --color-four: rgb(144, 164, 174);
  --color-border: rgb(96, 125, 139);
  --fontBody-color: rgb(38, 50, 56);
  --title-color: rgb(55, 71, 79);
  font-family: sans-serif;
  color: rgb(38, 50, 56);
  background-color: rgb(236, 239, 241);
}

.dark {
  --color-primary: rgb(248, 201, 15);
  --color-secondary: rgb(69, 90, 100);
  --color-three: rgb(38, 50, 56);
  --color-star: orange;
  --color-four: rgb(144, 164, 174);
  --color-border: rgb(96, 125, 139);
  --fontBody-color: rgb(207, 216, 220);
  --title-color: rgb(176, 190, 197);
  font-family: sans-serif;
  color: rgb(207, 216, 220);
  background-color: rgb(38, 50, 56);
}

.allSizes {
  --title-size: x-large;
  --subtitle-size: large;
  --body-size: medium;
  --list-size: small;
  --button-size: 12px;
  --border-size: 0.2em;
  font-size: 15px;
}

.themeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
.buttons {
  display: inline-block;
  border: 0.17em solid var(--fontBody-color);
  border-radius: 2em;
  background-color: var(--color-three);
  box-sizing: border-box;
  font-weight: 350;
  text-align: center;
  color: var(--fontBody-color);
}
.buttons:hover {
  color: var(--color-three);
  background-color: var(--fontBody-color);
  cursor: pointer;
}
