.list-card, .add-outfit-card {
  height: 325px;
  min-width: 220px;
  margin: 5px;
  padding: 10px;
  text-align: left;
  background-color: var(--color-secondary);
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.list-card img {
  object-fit: cover;
  margin: auto;
  border-radius: 5px;
  display: block;
  justify-content: center;
}

.card-add-star {
  top: 15px;
  right: 15px;
  position: absolute;
}
.card-add-star:hover {
  cursor: pointer;
  background: radial-gradient(circle, gold 30%, rgba(255,255,255,0) 70%);
}

.card-add-star img {
  width: 30px;
  height: 30px;
  object-fit: scale-down;
}

.card-rating {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin-top: -2%;
  margin-bottom: 2%;
}

.card-rating-none {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin-top: 2%;
}

.card-rating-num {
  padding-right: 5px;
}

.btn-outfit-remove {
  top: 15px;
  right: 15px;
  position: absolute;
}

.old-price {
  text-decoration: line-through;
  margin-left: 8px;
}

.plus-add-card {
  margin-top: 30%;
  text-align: center;
  font-size: 100px;
}

.text-add-card {
  text-align: center;
}

.card-category {
  padding-top: 5px;
  padding-bottom: 3px;
  color: var(--title-color);
  font-size: var(--list-size);
}

.add-outfit-card:hover {
  background-color: var(--color-four);
  cursor: pointer;
}

.card-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-price:hover {
  cursor: pointer;
}

.card-img-container:hover {
  cursor: pointer;
}
