.list-card {
  height: 325px;
  min-width: 220px;
  margin: 5px;
  padding: 10px;
  text-align: left;
  background-color: #d9d9d9;
  justify-content: center;
  position: relative;
}

.list-card img{
  object-fit: cover;
  margin: auto;
  display: block;
  justify-content: center;
}

.card-add-star {
  top: 15px;
  right: 15px;
  position: absolute;
}

.card-add-star img{
  width: 30px;
  height: 30px;
  object-fit: scale-down;
}

.card-rating {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin-top: -2%;
  margin-bottom: 2%;
}

.btn-outfit-remove {
  top: 15px;
  right: 15px;
  position: absolute;
}

.old-price {
  text-decoration: line-through;
  margin-left: 8px;
}