.comparison-window {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 60%;
  height: 50%;
  transform: translate(-50%, 50%);
  background-color:var(--color-secondary);
  padding: 25px;
  z-index: 1000;
  border-radius: 5px;
  min-height: 200px;
}

.comparison-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
}

.btn-close-comp-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1.5px;
}

.comparing {
  position: absolute;
  top: 10px;
  left: 15px;
  color: var(--title-color);
  font-size: var(--list-size);
}

.comp-table-features {
  overflow: scroll;
  padding-top: 5px;
}

.comp-titles {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-top: 10px;
  border-bottom: 1px solid var(--fontBody-color);
}

.comp-title-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
