.comp-row {
  display: flex;
  justify-content: space-between;
}

.comp-features {
  position: sticky ;
  width: 33%;
  text-align: center;
  font-weight: bold;
 }

 .comp-current {
   width: 33%;
   text-align: left;
 }

 .comp-related {
   width: 33%;
   text-align: right;
 }