.list-section {
  display: flex;
  justify-content: left;
  min-height: 337px;
}

.list-cards {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  min-width: 690px;
}

.list-btn-container {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-card-text {
  height: 325px;
  min-width: 220px;
  color: var(--color-border);
  position: absolute;
  left: 0px;
  top: 0px;
}
.add-card-text:hover {
  color: var(--fontBody-color);
}

.btn-list-left, .btn-list-right {
  font-size: 25px;
  height: 300px;
  width: 30px;
  border-radius: 5px;
  border: 0px;
  background-color: var(--color-secondary);
  color: var(--fontBody-color);
}

.btn-list-left:hover, .btn-list-right:hover {
  cursor: pointer;
  background-color: var(--color-four);
}