.list-section {
  display: flex;
  justify-content: left;
  min-height: 337px;
}

.list-cards {
  display: flex;
  overflow: hidden;
  position: relative;
  border: 1px solid #000000;
  min-width: 690px;
}
