.related {
  display: flex;
  justify-content: center;
}

.related-list {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  border: 1px solid #000000;
  max-width: 920px;
}

.btn-related-left {
  left: 2%;
  top: 50%;
  position: absolute;
  z-index: 10;
}

.btn-related-right {
  right: 2%;
  top: 50%;
  position: absolute;
  z-index: 10;
}