.related-list {
  border: 1px solid #000000;
  display: flex;
  overflow: hidden;
  position: relative;
}

.btn-related-left {
  left: 32px;
  top: 50%;
  position: absolute;
  z-index: 10;
}

.btn-related-right {
  right: 32px;
  top: 50%;
  position: absolute;
  z-index: 10;
}