.q-a-title {
  font-size: var(--title-size);
  color: var(--title-color);
  padding: 10px;
  padding-top: 35px;
}

.answer-list {
  height: 200px;
  width: 50%;
  overflow: hidden;
  overflow-y: scroll;
}

.questions-list {
  height: 400px;
  width: 80%;
  overflow: hidden;
  overflow-y: scroll;
}

.q-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-size: var(--subtitle-size);
}

.a-entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Ahelp-report {
  padding-left: 2.5%;
}

.a-bullet {
  font-weight: bold;
}

#q-bullet {
  font-weight: bold;
}

.q-body {
  font-weight: bold;
}

.search-form {
  position: relative;
  display: flex;
}

.search-bar {
  width: 500px;
  height: 28px;
  border-radius: 2em;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.search-bar:hover {
  cursor: pointer;
  border-radius: 2em;
  border: 0.17em solid var(--color-primary);
}

.search-bar:focus {
  cursor: pointer;
  border-radius: 2em;
  border: 0.17em solid var(--color-primary);
}

.search-icon {
  position: absolute;
  top: 6px;
  left: 475px;
  width: 14px;
}

.seller {
  font-weight: bold;
}

.reported:hover {
  cursor: pointer;
  color: rgb(236, 81, 81);
  font-weight: bold;
}

.add-answer:hover {
  cursor: pointer;
  font-weight: bold;
}

.helpful:hover {
  cursor: pointer;
  color: rgb(56, 205, 121);
  font-weight: bold;
}

.more-answers-button:hover {
  color: var(--color-three);
  background-color: var(--fontBody-color);
  cursor: pointer;
}

.questions-buttons:hover {
  cursor: pointer;
  color: var(--color-three);
  background-color: var(--fontBody-color);
}

.more-answers-button {
  display: inline-block;
  border: 0.17em solid var(--fontBody-color);
  border-radius: 2em;
  background-color: var(--color-three);
  box-sizing: border-box;
  font-weight: 350;
  font-size: 12px;
  color: var(--fontBody-color);
}

.questions-buttons {
  display: inline-block;
  border: 0.17em solid var(--fontBody-color);
  border-radius: 2em;
  background-color: var(--color-three);
  box-sizing: border-box;
  font-weight: 350;
  font-size: 15px;
  color: var(--fontBody-color);
}