.gallery {
  width: 65%;
  height: 550px;
  border: 2px black solid;
  display: flex;
  justify-content: flex-start;
}

/******* Main Image *******/
.mainGallery {
  position: relative;
  align-items: center;
  width: 85%;
  height: 100%;
  display:flex;
  justify-content: space-around;
}

.mainImage {
  display: flex;
  width: 360px;
  height: 100%;
  overflow: hidden;
  border: 2px gray solid;
}

.image {
  width: 360px;
  height: 100%;
  cursor: zoom-in;
}

.clickNext, .clickPrev {
  height: 50px;
  font-size: 20px;
}

.expand {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url('../assets/fullscreen.png');
  cursor: pointer;
}

/* .zoomin img {
  transform-origin: 0 0;
  transform: scale(2.5);
} */


/******* Side Bar *******/
.sideBar {
  width: 15%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.thumbnails {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.highlight {
  width: 70px;
  height: 5px;
  background-color: gray;
  margin: 0 auto;
}

.selected {
  height: 18%;
  width: 100%;
}

.eachThumbnail {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.upclick, .downclick{
  font-size: 18px;
  width: 70px;
  height: 25px;
  margin: 0 auto;
}

/******* Utility *******/

