.gallery {
  width: 65%;
  height: 550px;
  border: 2px black solid;
  display: flex;
  justify-content: center;
}

/******* Main Image *******/
.mainImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 100%;
  border: 2px black solid;
}

.image {
  width: 85%;
  height: 100%;
  object-fit: contain;
}

.clickNext {
  height: 50px;
  font-size: 20px;
  font-weight: bold;

}

.clickPrev {
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

/******* Side Bar *******/
.sideBar {
  width: 12%;
  height: 100%;
  border: 2px black solid;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.thumbnails {
  width: 100%;
  height: 95%;
  border: 2px black solid;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.eachThumbnail {
  height: 18%;
  width: 100%;
  object-fit: contain;
}