.ratings-reviews {
  display: flex;
  flex-flow: row;
}

.breakdown {
  width: 30%;
  margin: 20px;
}

.review-list {
  width: 70%;
  flex-flow: column;
  margin: 20px;
}

.overall-rating {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5rem;
}

.overall-rating>div {
  margin-left: 5px
}

.ratings-breakdown {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.star-label {
  text-decoration: underline;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
  font-size: 16px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Place text to the right */

.right {
  text-align: right;
  font-size: 16px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar-1, .bar-2, .bar-3, .bar-4, .bar-5 {
  height: 18px;
  background-color: var(--color-star);
}

.factors {
  padding-top: 2rem;
}

.full-factor-bar {
  display: flex;
  flex-flow: column;
  border-radius: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  margin-top: -1.2rem;
}

.factor-side {
  font-weight: bold;
  float: left;
  width: 20%;
  margin-top: 5px;
}

.indicator {
  position: relative;
  color: var(--color-star);
  z-index: 2;
  font-size: 1.0em;
  margin-top: -2rem;
}

.factor-bar {
  display: flex;
  border-radius: 0;
  background-color: hsla(0, 0%, 85%, 60%);
  width: 50%;
  height: 0.7rem;
  border: 1px;
}