.ratings-reviews {
  display: flex;
  flex-flow: row;
}

.breakdown {
  width: 30%;
  margin: 20px;
}

.review-list {
  width: 70%;
  flex-flow: column;
  margin: 20px;
}

.overall-rating {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem;
}

.overall-rating>div {
  margin-left: 5px
}

.ratings-breakdown {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.star-label {
  text-decoration: underline;
}

.sidebar {
  position: relative;
  width: 1000px;
  height: 10px;
  background-color: lightgrey;
}

/* .star1 .star2 .star3 .star4 .star5 {
  height: 10px;
  background-color: lightGreen;
  outline: 1px solid green;
  outline-offset: -1px
} */

/* .star1 {
  height: 10px;
  background-color: lightGreen;
  outline: 1px solid green;
  outline-offset: -1px
} */