.ratings-reviews {
  display: flex;
  flex-flow: row;
}

.breakdown {
  width: 30%;
  margin: 20px;
}

.review-list {
  width: 70%;
  margin: 20px;
}

.overall-rating {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem;
}

.overall-rating>div {
  margin-left: 5px
}

.ratings-breakdown {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.star-label {
  text-decoration: underline;
}

/* .sidebar {
  background-color: black;
} */

/* .star1 {
  flex-grow: 0;
  width: 50%;
}

.star2 {
  flex-grow: 0;
  width: 70%;
}

.star3 {
  flex-grow: 0;
  width: 80%;
}

.star4 {
  flex-grow: 0;
  width: 30%;
}

.star5 {
  flex-grow: 0;
  width: 40%;
} */