.review-list-overall {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.review-summary {
  font-weight: bold;
  font-size: var(--subtitle-size);
}

.review-form-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
}

.review-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 50%;
  width: 70%;
  max-height: 60%;
  transform: translate(-50%, 50%);
  background-color: var(--color-secondary);
  padding: 25px;
  z-index: 1000;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.review-form>div {
  margin: 6px
}

.review-form-summary>input {
  width: 60%;
  height: 20px;
}

.review-body>textarea {
  width: 60%;
}

.photos-container {
  display: flex;
}

.review-list-container {
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

.add-review-button {
  position: relative;
  bottom: 0.1rem;
  right: 0.5rem;
}

.image-window-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}